* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;

}

img {
  display: block;
}

/* task-1 */

.item ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
}

.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  padding-left: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.categories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
}

/* task-2 */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: 24px;
  row-gap: 48px;


}

li img {
  width: 360px;
  height: 300px;

}


/* task-3 */

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task-4 */

.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  width: 360px;
  height: 152px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.login-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  border: none;
  background: #4e75ff;
}

/* task-5 */

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  width: 169px;
  height: 80px;
  margin: auto;
}

.widget p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  border: none;

  background: #4e75ff;
}

/* task-6 */

#controls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;

  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;

  background: #f6f6fe;

  margin-bottom: 16px;
}

#controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;

  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;

}

[data-create] {
  background: #4e75ff;
}

[data-destroy] {
  background: #ff4e4e;
}

#controls input {

  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 60px;
  width: 150px;
  height: 40px;
}


#boxes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  border-radius: 8px;
  padding: 32px;

  background: #f6f6fe;
}